@model Car

<div class="col-lg-4">
    <img class="img-thumbnail" src="@Model.Image" alt="@Model.Name" height="200">
    <h2>Model: @Model.Name</h2>
    <p>@Model.ShortDesc</p>
    <p>Price: @Model.Price.ToString("c")</p>
    <p><a class="btn btn-warning" asp-controller="Cart" asp-action="Add" asp-route-id="@Model.Id">Add to cart</a></p>
</div>